<section ng-controller="HomeController">
  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
            <button type="button" ui-sref="fltplan" class="btn btn-default">
                <span class="glyphicon glyphicon-plane" style="font-size:5em; align:center;" aria-hidden="true"></span>
              </button>
						<div class="caption">
							<h3>
								FLT PLAN
							</h3>
							<p>
								Enter your you place of Origin and Destination, gather all airport and weather information.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
            <button type="button" ui-sref="logbook.list" class="btn btn-default">
            <span class="glyphicon glyphicon-book" style="font-size:5em;" aria-hidden="true"></span>
          </button>
						<div class="caption">
							<h3>
								LOGBOOK
							</h3>
							<p>
								Log your hours, experience, and memeories.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
            <button type="button" ui-sref="fltplan" class="btn btn-default">
              <span class="glyphicon glyphicon-map-marker" style="font-size:5em;" aria-hidden="true"></span>
            </button>
						<div class="caption">
							<h3>
							  MAPS
							</h3>
							<p>
								Find where you are, where you're going, and what's on the way.
							</p>
					</div>
				</div>
			</div>
			<div class="jumbotron" id="jumbo">
				<h2>
					Welcome, Aviators
				</h2>
				<p>
					This is a simple app for pilots to plan flight and find other useful resources to make aviation easier for everyone.
				</p>
			</div>
		</div>
	</div>
</div>
