<section class="container" ng-controller="fltplansController">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Flight Plan</h1>
      </div>
      <form class="form-horizontal" ng-submit="validateRoute(route)">
        <div class="col-md-4" style="margin-top: 2em">
          <input class="form-control col-md-4" type="text" ng-model="route" ng-change="route=route.toUpperCase();" placeholder="Search airport ID or route" />
        </div>
        <div class="col-md-2" style="margin-top: 2em">
          <button class="btn btn-primary" ng-model="search">
          <span>Plan Route ✈</span>
        </button>
        </div>
      </form>
      <div class="col-md-2" style="margin-top: 2em">
        <button class="btn btn-primary" ui-sref="logbook.create">
          <span>Save to Favorites ✈</span>
        </button>
      </div>
    </div>
  </div>
  <div class="page-body" ng-show="showBody">
    <div class="jumbotron" id="jumbo">
      <div class="row">
        <div class="col-md-6">
          <h2>Airports</h2>
          <div class="row" ng-repeat="airport in airports">
            <div class="row">
              <div class="col-md-12">
                <h2><span>{{ airport.ident }}</span></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4><span>{{ airport.city }}</span></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span ng-hide="airport.chartURL == null">
                  <a target="_new" href="{{ airport.chartLink }}">
                    <img ng-src="{{ airport.chartURL }}" width=350 height=350>
                  </a></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4><span>{{ airport.elevation }} at {{ airport.latLong }}</span></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3><span>Airport Frequencies:</span></h3>
              </div>
            </div>
            <table>
              <tr ng-repeat="comm in airport.comms">
                <td>
                  <span>{{ comm.td[0] }}</span>
                </td>
                <td>
                  <span>{{ comm.td[1] }}</span>
                </td>
                <td>
                  <span>{{ comm.td[2] }}</span>
                </td>
                <td>
                  <span>{{ comm.td[3] }}</span>
                </td>
              </tr>
            </table>
            <div class="row">
              <div class="col-md-4 ">
                <span>A/FD:</span>
              </div>
              <div class="col-md-8">
                <span>A/FD Link</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Taxi Diagram:</span>
              </div>
              <div class="col-md-8">
                <span>Taxi Diagram</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Notams:</span>
              </div>
              <div class="col-md-8">
                <span>Notams Link</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Runways:</span>
              </div>
              <div class="col-md-8">
                <span>{{ airport.runways }}Runway in Runways</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Remarks:</span>
              </div>
              <div class="col-md-8">
                <span>remarks</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h2>Recent METARs</h2>
          <div class="row" ng-repeat="metar in metars">
            <div class="row">
              <div class="col-md-12" ng-hide="metar.station_id == null">
                <h2><span>{{ metar.station_id }}</span></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Raw:</span>
              </div>
              <div class="col-md-8" ng-hide="metar.raw_text == null">
                <span>{{ metar.raw_text }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Flight Conditions:</span>
              </div>
              <div class="col-md-8" ng-hide="metar.sky_condition.flight_category == null">
                <span>{{ flightConditions(metar) }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Time:</span>
              </div>
              <div class="col-md-8" ng-hide="metar.observation_time == null">
                <span>{{ metar.observation_time }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Winds:</span>
              </div>
              <div class="col-md-8" ng-hide="metar.wind_dir_degrees == null">
                <span>{{ metar.wind_dir_degrees }}&deg; at {{ metar.wind_speed_kt }} kts</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Visibility:</span>
              </div>
              <div class="col-md-8" ng-hide="metar.visibility_statute_mi == null">
                <span>{{ metar.visibility_statute_mi }} sm</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Clouds (AGL):</span>
              </div>
              <div class="col-md-8" ng-hide="metar.sky_condition.sky_cover == null">
                <span>{{ metar.sky_condition.sky_cover }} {{ metar.sky_condition.cloud_base_ft_agl }}'</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Temperature:</span>
              </div>
              <div class="col-md-8" ng-hide="metar.temp_c == null">
                <span>{{ metar.temp_c }}&deg;C {{ convertToF(metar.temp_c) }}&deg;F</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Dewpoint:</span>
              </div>
              <div class="col-md-8" ng-hide="metar.dewpoint_c == null">
                <span>{{ metar.dewpoint_c }}&deg;C {{ convertToF(metar.dewpoint_c) }}&deg;F</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Altimeter:</span>
              </div>
              <div class="col-md-8" ng-hide="metar.altim_in_hg == null">
                <span>{{ altim(metar.altim_in_hg) }} in Hg</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <span>Humidity:</span>
              </div>
              <div class="col-md-8" ng-hide="metar.temp_c == null">
                <span>{{ humidity(metar) }}%</span>
              </div>
            </div>
            <br>
            <!--
        <div class="row">
          <div class="col-md-4 text-right">
            <span>Density Altitude:</span>
          </div>
          <div class="col-md-8" ng-hide="metar.density_altitude == null">
            <span>{{ metar.density_altitude }}'</span>
          </div>
        </div>
      -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
