body{
        background: url('../img/brand/background.jpeg') no-repeat center center fixed;
        background-size: cover;
}
#jumbo{
  background: rgba(243, 248, 251);
}
.funky-show-hide.ng-hide-add {
  transform: rotateX(0);
  transform-origin: top;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.funky-show-hide.ng-hide-add.ng-hide-add-active {
  transform: rotateX(-90deg);
  opacity: 0;
}

.funky-show-hide.ng-hide-remove {
  transform: rotateX(90deg);
  transform-origin: top;
  transition: all 0.5s ease;
  opacity: 0;
}

.funky-show-hide.ng-hide-remove.ng-hide-remove-active {
  transform: rotateX(0);
  opacity: 1;
}

.check-element {
  opacity: 1;
  padding: 10px;
}
.button {
  color: #000000;
  text-align: center;
  font-size: 4vw;
  width: 100%;
  transition: all 2s;
  cursor: pointer;
  margin: .25em;
}
.airbtn {
  overflow-x: auto;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

.button span:after {
  content: '\2708';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -50px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 40px;
}

.button:hover span:after {
  opacity: 1;
  left: 140px;
}
@media screen and (max-width: 860px) {
        .button span:after {
          content:none;
        }
        .button span:after {
          content: '\2192';
          position: absolute;
          opacity: 0;
          top: 0;
          left: 20px;
          transition: 0.5s;
        }

        .button:hover span {
          padding-right: 20px;
        }

        .button:hover span:after {
          opacity: 1;
          left: 50px;
        }
        .buttonM span:after {
          content: none;
        }
}
.buttonM {
  color: #000000;
  text-align: center;
  font-size: 4vw;
  width: 100%;
  transition: all 2s;
  cursor: pointer;
  margin: 0.25em;
}
.buttonM span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

.buttonM span:after {
  content: '\2600';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -50px;
  transition: 0.5s;
}

.buttonM:hover span {
  padding-right: 40px;
}

.buttonM:hover span:after {
  opacity: 1;
  left: 320px;
}
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
table, th {
  width:100%;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
td {
  width:25%;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.jumbotron{
  padding: 10px 100px;
}
